Library/
Temp/
*.csproj
*.sln
*.suo
*.rej
*.rej.meta
*.booproj
obj/
Songs/
Assets/Student Data/
Assets/UnityVS/
ProjectSettings/ProjectSettings.asset
gwaivgp4.2en.txt
educationalVideoGamesIQP.userprefs
